[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask-migrate = "*"
sqlalchemy-utils = "*"
flask-cors = "*"
python-dotenv = "*"
passlib = "*"
gunicorn = "*"
phonenumbers = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.12"
